/* main element first?? */

html {
	


}

a {
	text-decoration: none;
	color: black;
}


body {
	font-family: "courier", "times new roman";
	margin-top: 0;
	margin-left: 15%;
	margin-right: 15%;

}

li {
	
	font-size: 20px;
	width:  125px;
	display: inline-block;
	padding:  10px;
	border: solid 5px;
}

h1 {
	text-align:  center;
}

article {
	
	text-align: center;
	border: 3px solid black;
	padding: 30px ;
}

/* ...then header */

.fixedbar {

	height: 200px;


}

.image {

	left: 20%;
	width: 60%; 
	height: 200px;
	position: fixed;

	

}

/* navigtion next */

.nav {
	  text-align: center;
      padding: 0;
}

.nav li a {
	display: inline-block;
    width: 100px;
    color: black; 
}

/* on contact site */

#input {
	width: 150px;
	border: solid black 2px;
}